.app__filter {
    #search {
        color: var(--text-color) !important;
        background-color: var(--elements-color) !important;
        outline: none;
        padding-left: 2rem;
        width: 100%;
        border: 1px transparent;
        box-shadow: 0 0 4px 0.5px var(--input-color);
        &:focus {
            outline: none !important;
        }
    }
    &-dropdown {
        width: 10rem !important;
        color: var(--text-color) !important;
        background-color: var(--elements-color) !important;
        outline: none;
        cursor: pointer;
        appearance: auto;
        border: transparent !important;
        box-shadow: 0 0 4px 0.5px var(--input-color);
    }

    .filter-container {
        @media screen and (max-width: 600px) {
            justify-content: flex-start !important;
        }
    }
}
