.app__nav {
    background-color: var(--elements-color);
    color: var(--text-color);
    .logo {
        font-weight: 800;
        font-size: 1.8rem;
    }

    .theme-switcher {
        cursor: pointer;
    }
}